<!-- select_participants.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selecionar Participantes - D&D</title>
</head>
<body>
    <h1>Selecionar Participantes</h1>

    <form method="post">
        {% csrf_token %}
        <button type="submit" name="participant_type" value="monstro">Adicionar Monstro</button>
        <button type="submit" name="participant_type" value="personagem">Adicionar Personagem</button>
    </form>
    <h2>Lista de Opções</h2>
    <ul>
        {% if displayed_options %}
        <form method="post">
            {% csrf_token %}
            {% for option in displayed_options %}
                <button type="submit", name="added_option", value="{{option}}">{{ option }}</button>
            {% endfor %}
        </form>
        {% endif %}
    </ul>
    <h2>Lista de Participantes</h2>
    <ul>
        {% if participant_characters %}
            {% for participant_character in participant_characters %}
                <p>{{ participant_character }}</p>
            {% endfor %}
        {% endif %}
        {% if participant_monsters %}
            {% for participant_monster in participant_monsters %}
                <p>{{ participant_monster }}</p>
            {% endfor %}
        {% endif %}
    </ul>
</body>
</html>